* {
    vertical-align: baseline;
    font-weight: inherit;
    font-family: inherit;
    font-style: inherit;
    font-size: 100%;
    border: 0 none;
    outline: 0;
    padding: 0;
    margin: 0;
    }


html {
    background-color:#CCCCCC;
    background-image:url('images/event-calendar.png');
    color:#000000;
    font-family:Verdana;    
    font-size:1em;
    line-height:1.25em;
    width:1920px;
    min-width:1920px;
    height:1080px;
    min-height:1080px;
}



table {
	margin: 0;
    padding: 0;
    padding-top:85px;
    width:100%;
    font-size:1.6em;
}


th {
    text-align:center;
    padding:1em;
    font-size: 1em;
    font-weight: bold;
    line-height: 1.0em;
}

td.datetime {
    text-align:center;
    padding:1em;
}

td.info {
    text-align:center;
    padding:1em;
}

td.highlight {
    color:#CC0000;
    font-weight:bold;    
    padding:1em;
}
 
span.alert {
    font-size:1.1em;
    color:#CC0000;    
}

span.title {
    font-weight:bold;    
}

.light {
    background-color:#FFFFFF;
    color:#000000;        
}

.dark {
    background-color:#E1E1E1;
    color:#000000;
}

.padded {
    padding-top:.6em;
    padding-bottom:.6em;    
}

.tab {
    padding-left:.5em;
    
}

.fixed {
    width:35%;
}

.fixedSm {
    width:25%;
}

.fixedMed {
    width:45%;
}

tr.first td {
	border-top: 1px solid #EFEFEF;
	
}

